.user-form{
    position: fixed;
    z-index: 999;
    top: 20vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    background-color: var(--main-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 30px;
}

.header-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px 20px; */
}
.header-form .header-title{
    font-size: 20px;
    font-weight: 400;
}
.header-form i{
    font-size: 25px;
    color: var(--hover-color);
    cursor:pointer;
}

.user-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-form form input{
    background-color: var(--main-color);
    height: 30px;
}

.update-profile-btn{
    height: 40px;
    width: 50%;
    margin: auto;
    background-color: transparent;
    border: none;
    transition: 0.7s ease;
    cursor: pointer;
    margin-top: 10px;

}

.update-profile-btn:hover{
    background-color: var(--primary-color);
    color: var(--main-color);
}

@media (max-width: 700px)
{
    .user-form{
        height: 80vh;
        width: 80vw;
        top: 10vh;
        left: 10vw;
        font-size: 0.9em;
    }
    
}