.admin-dashboard-page{
    overflow: hidden;
}

.admin-container-page{
    /* border: 2px solid #ff0000; */
    height: calc(100vh - 300px) ;
    /* overflow: hidden ; */
    overflow-y: scroll;
    padding: 20px;
    /* scrollbar-width: none; */
}


.table{
    width: 100%;
    border-collapse: collapse;
    
}

th, td{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding :10px;
    font-weight: 400;
}

th{
   
    background-color: rgb(245,245,245);
}

tr:nth-child(even)
{
    background-color: rgb(245,245,245);
}
tr:hover{
    background-color: rgb(230, 230, 230);
}
.table-image{
    display: flex;
    align-items: center;
    gap: 5px;
}
.table-user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.table-btn-group{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table-btn-group button{
    /* border: none; */
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px;
    transition: 0.5s ease;
    border-radius: 5px;
}
/* .table-btn-group button:first-child{
    border: 1px solid green;
    background-color: rgb(3, 150, 89);
}

.table-btn-group button:last-child{
    background-color: rgb(128, 1, 1);
}

.table-btn-group button:first-child:hover{
    border: 1px solid green;
    background-color:green;
}

.table-btn-group button:last-child:hover{
    background-color: red;
} */

.table-btn{
    color: var(--primary-color);
    /* padding: 10px; */
    transition: 0.5s ease;

}

.table-btn:hover{
    color: var(--main-color)

}


.table-btn-group button:hover{
    background-color: var(--primary-color);
    color: var(--main-color)
}


@media (max-width: 720px)
{

    .admin-container-page{
        padding: 15px;
    }

    .table-btn-group{
        flex-wrap: wrap;
    }

    .table-btn-group button{
        width: 100%;
        margin: 10px 0;
    }

    th,td{
        padding: 5px;
    }

    .table-image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}


@media (max-width: 520px)
{

    
    .admin-container-page{
        padding: 5px;
    }

    th,td{
        padding: 2px;
    }

}